$black: #000;
$white: #fff;
$grey: #999999;
$grey-1: #F5F5F3;
$grey-2: #A0A09B;
$grey-3: #CCC;
$black-1: #333;
$black-2: #1E1E19;
$black-3: #666;

$image-bg: #1E1E19;
$silver: #F5F5F3;
$green: #BEFA3C;

$mobile: 450px;

$break-sm: 768px;
$break-md: 992px;
$break-lg: 1220px;
$break-xl: 1660px;