

.bg-grey-1 {
  background-color: $grey-1 !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-white {
  background-color: $white !important;
}