@font-face {
  font-family: "Suisse Intl"; 
  src: url("/fonts/new/SuisseIntl-Regular-WebM.eot");
  src: url("/fonts/new/SuisseIntl-Medium-WebS.eot");
}

@font-face {
  font-family: "Suisse Intl Light";
  src: url("/fonts/suisse-intl/SuisseIntl-Light.otf");
}

@font-face {
  font-family: "Suisse Intl Light Italic";
  src: url("/fonts/suisse-intl/SuisseIntl-LightItalic.otf");
}

.light-font {
  font-family: "Suisse Intl Light" !important;
}

.light-font-italic {
  font-family: "Suisse Intl Light  Italic" !important;
}

*{
  font-family: "Suisse Intl", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $black-2;

}

@mixin font-and-children($size) {
  *, & {
    font-size: $size;
  }
}
.font-capitalize {
  text-transform: capitalize !important;
}

.text-d-none {
  text-decoration: none;
}

.font-black {
  &, * {
    color: black !important;
  }
}

.font-black-2 {
  &, * {
    color: $black-2 !important;
  }
}

.font-grey-1 {
  &, * {
    color: $grey-1 !important;
  }
}

.font-grey-2 {
  &, * {
    color: $grey-2 !important;
  }
}

.font-grey-3 {
  &, * {
    color: $grey-3 !important;
  }
}

.font-grey {
  &, * {
    color: $grey !important;
  }
}

.font-white {
  &, * {
    color: $white !important;
  }
}

.font-16 {
  @include font-and-children(16px);
}
.font-14 {
  @include font-and-children(14px);
}
.font-13 {
  @include font-and-children(13px);
}
.font-20 {
  @include font-and-children(20px);
}
.font-12 {
  @include font-and-children(12px);
}
.font-24 {
  @include font-and-children(24px);
}
.font-28 {
  @include font-and-children(28px);
}
.font-32 {
  @include font-and-children(32px);
}
.font-36 {
  @include font-and-children(36px);
}
.font-45 {
  @include font-and-children(45px);
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

.ml-152px {
  margin-left: 152px;
}


.line-h-22 {
  line-height: 22px;
}
.line-h-40 {
  line-height: 40px;
}

.fw-500 {
  &, * {
    font-weight: 500;
  }
}