.d-flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.center-flex {
  @extend .items-center;
  @extend .content-center;
}


.w-30-vw {
  width: 30vw !important;
}

.w-20-vw {
  width: 20vw !important;
}

.w-30 {
  width: 30% !important;
}
.w-50 {
  width: 50% !important;
}

.w-20 {
  width: 20% !important;
}

.w-75 {
  width: 75% !important;
}

.w-10 {
  width: 10% !important;
}

.w-100 {
  width: 100% !important;
}
.w-90 {
  width: 90% !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-30px {
  padding: 30px !important;
}
.py-12px {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.py-14px {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.py-5px {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pb-14px {
  padding-bottom: 14px;
}

.pb-64px {
  padding-bottom: 64px;
}

.m-0 {
  margin: 0 !important;
}

.p-min {
  padding: 0.05rem !important;
}

.mx-5px {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-5px {
  margin-right: 5px;
}
.mr-12px {
  margin-right: 12px;
}

.pr-24px {
  padding-right: 24px;
}

.pr-48px {
  padding-right: 48px;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-25 {
  margin-left: 1rem;
}


.float-right {
  float: right;
}

.br-l-1 {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: $white;
}

.br-x-1 {
  @extend .br-l-1;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: $white;
}

@mixin image-same-size($size) {
  height: $size;
  width: $size;
}

.image-12x6 {
  height: 6px;
  width: 12px;
}
.image-9x8 {
  height: 8px;
  width: 9px;
}
.image-40x40 {
  @include image-same-size(40px);
}

.image-45x45 {
  @include image-same-size(45px);
}

.image-16x16 {
  @include image-same-size(16px);
}

.image-20x20 {
  @include image-same-size(20px);
}

.image-14x14 {
  @include image-same-size(14px);
}
.image-15x15 {
  @include image-same-size(14px);
}
.image-12x12 {
  @include image-same-size(12px);
}
.image-13x13 {
  @include image-same-size(13px);
}
.image-18x18 {
  @include image-same-size(18px);
}
.image-10x10 {
  @include image-same-size(10px);
}

.image-h-284 {
  height: 284px;
}

.image-24x24 {
  @include image-same-size(24px);
}
.image-30x30 {
  @include image-same-size(30px);
}
.image-32x32 {
  @include image-same-size(32px);
}
.image-50x50 {
  @include image-same-size(50px);
}

.br-b-1 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $white;
}

.br-b-1-grey-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $grey-3;
}

.br-b-1-grey-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $grey-2;
}

.br-b-1-black {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $black;
}


.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}


.question-mark-btn {
  padding: 0;
  padding-left: 5px;
}

.c-pointer {
  cursor: pointer !important;
}

.p-64-24 {
  padding: 64px 24px 0 24px;
}


.my-16px {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mx-16px {
  margin-left: 16px;
  margin-right: 16px;
}

.link-arrow {
  font-size: 12px;
}

.img-w-100 {
  width: 100%;
}

.img-w-50 {
  width: 100%;
}