@font-face {
  font-family: "Suisse Intl";
  src: url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot");
  src: url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff") format("woff"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.svg#Suisse Intl") format("svg");
}
* {
  font-family: "Suisse Intl" !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #1E1E19;
}

.font-capitalize {
  text-transform: capitalize !important;
}

.text-d-none {
  text-decoration: none;
}

.font-black, .how-it-works-menu .page-states.active, .how-it-works-menu .page-states.active *, .membership-items .membership-item .item-title, .artwork-page .artwork-page-states .MuiTab-root.Mui-selected, .font-black *, .membership-items .membership-item .item-title *, .artwork-page .artwork-page-states .MuiTab-root.Mui-selected * {
  color: black !important;
}

.font-black-2, .font-black-2 * {
  color: #1E1E19 !important;
}

.font-grey-1, .font-grey-1 * {
  color: #F5F5F3 !important;
}

.font-grey-2, .artwork-page .artwork-page-states .MuiTab-root, .font-grey-2 *, .artwork-page .artwork-page-states .MuiTab-root * {
  color: #A0A09B !important;
}

.font-grey-3, .how-it-works-menu .page-states span, .how-it-works-menu .page-states, .font-grey-3 *, .how-it-works-menu .page-states span *, .how-it-works-menu .page-states * {
  color: #CCC !important;
}

.font-grey, .membership-content p, .font-grey *, .membership-content p * {
  color: #999999 !important;
}

.font-white, .font-white * {
  color: #fff !important;
}

.font-16, .dialog .MuiDialog-paper .social-networks .chip-link span, .dialog .MuiDialog-paper .dialog-description {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-13 {
  font-size: 13px;
}

.font-20 {
  font-size: 20px;
}

.font-12, .tag-grey span {
  font-size: 12px;
}

.font-24, .membership-items .membership-item .item-title, .dialog .MuiDialog-paper .dialog-title {
  font-size: 24px;
}

.font-32 {
  font-size: 32px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-45 {
  font-size: 45px !important;
}

.text-left, .wallet-btn {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.ml-152px {
  margin-left: 152px;
}

.bg-grey-1 {
  background-color: #F5F5F3 !important;
}

.bg-green {
  background-color: #BEFA3C !important;
}

.d-flex, .how-it-works-content #what-makes-us-different, .how-it-works-content #the-terminology, .how-it-works-content #the-process, .how-it-works-content #introduction, .membership-tiers.zero-state .zero-state-content, .membership-tiers .my-nfts .item-options .item-title, .membership-tiers .my-nfts .item-options, .membership-tiers .image-item .image-options, .account, .membership-items {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.items-center, .center-flex, .how-it-works-content #what-makes-us-different, .how-it-works-content #introduction, .membership-tiers.zero-state .zero-state-content {
  align-items: center;
}

.content-center, .center-flex, .how-it-works-content #what-makes-us-different, .how-it-works-content #introduction, .membership-tiers.zero-state .zero-state-content {
  justify-content: center;
}

.w-30-vw {
  width: 30vw !important;
}

.w-20-vw {
  width: 20vw !important;
}

.w-30 {
  width: 30% !important;
}

.w-50 {
  width: 50% !important;
}

.w-20 {
  width: 20% !important;
}

.w-75 {
  width: 75% !important;
}

.w-10 {
  width: 10% !important;
}

.w-100, .wallet-btn {
  width: 100% !important;
}

.w-90 {
  width: 90% !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.p-0, .how-it-works-content .section-divider, .how-it-works-bg .title .MuiImageListItemBar-title, .how-it-works-bg .title, .how-it-works-bg, .membership-content p, .opened-item .title .right .close-btn, .dialog .MuiDialog-paper .social-networks .item, .dialog .MuiDialog-paper .dialog-description, .dialog .MuiDialog-paper .dialog-title, .standard-input fieldset, .rounded-input .MuiOutlinedInput-root fieldset {
  padding: 0 !important;
}

.p-30px {
  padding: 30px !important;
}

.py-12px {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.py-14px {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.py-5px {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pb-14px {
  padding-bottom: 14px;
}

.m-0, .how-it-works-content .section-divider, .how-it-works-bg .title .MuiImageListItemBar-title, .how-it-works-bg .title, .how-it-works-bg, .membership-content p, .dialog .MuiDialog-paper .dialog-description, .dialog .MuiDialog-paper .dialog-title, .standard-input, .rounded-input .MuiOutlinedInput-root {
  margin: 0 !important;
}

.p-min {
  padding: 0.05rem !important;
}

.mx-5px {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-5px {
  margin-right: 5px;
}

.mr-12px {
  margin-right: 12px;
}

.pr-24px {
  padding-right: 24px;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-25 {
  margin-left: 1rem;
}

.float-right {
  float: right;
}

.br-l-1, .br-x-1 {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #fff;
}

.br-x-1 {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #fff;
}

.image-12x6 {
  height: 6px;
  width: 12px;
}

.image-9x8 {
  height: 8px;
  width: 9px;
}

.image-40x40, .opened-item .title .right .close-btn svg {
  height: 40px;
  width: 40px;
}

.image-45x45 {
  height: 45px;
  width: 45px;
}

.image-16x16 {
  height: 16px;
  width: 16px;
}

.image-20x20 {
  height: 20px;
  width: 20px;
}

.image-14x14 {
  height: 14px;
  width: 14px;
}

.image-15x15 {
  height: 14px;
  width: 14px;
}

.image-12x12 {
  height: 12px;
  width: 12px;
}

.image-13x13 {
  height: 13px;
  width: 13px;
}

.image-18x18 {
  height: 18px;
  width: 18px;
}

.image-10x10 {
  height: 10px;
  width: 10px;
}

.image-24x24, .social-button {
  height: 24px;
  width: 24px;
}

.image-30x30 {
  height: 30px;
  width: 30px;
}

.image-32x32 {
  height: 32px;
  width: 32px;
}

.image-50x50 {
  height: 50px;
  width: 50px;
}

.br-b-1 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
}

.br-b-1-grey-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
}

.br-b-1-grey-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #A0A09B;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.question-mark-btn {
  padding: 0 0 4px;
}

.c-pointer {
  cursor: pointer !important;
}

.full-size-button {
  width: 95%;
  margin-left: 5px;
}

.rounded-button, .green-button.rounded, .grey-button.rounded, .white-black-button.rounded, .black-white-button.rounded {
  border-radius: 30px !important;
}

.black-white-button {
  text-transform: capitalize;
  white-space: nowrap;
  background-color: #000 !important;
  color: #fff;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}
.black-white-button.btn-md {
  padding: 10px 16px !important;
  height: 48px;
}
.black-white-button.small {
  padding: 9px 15px !important;
  height: 40px;
}
.black-white-button.xs {
  padding: 5px 12px !important;
  height: 32px;
}
.black-white-button.bordered {
  border-color: #fff !important;
}
.black-white-button.bordered.xs {
  padding: 4px 11px !important;
}
.black-white-button.bordered.btn-md {
  padding: 9px 15px !important;
}
.black-white-button.bordered.small {
  padding: 8px 14px !important;
}
.black-white-button:hover {
  border-color: #fff;
}
.black-white-button img {
  padding-left: 4px;
  padding-right: 4px;
}

.white-black-button {
  text-transform: capitalize;
  white-space: nowrap;
  background-color: #fff !important;
  color: #000;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
}
.white-black-button.btn-md {
  padding: 10px 16px !important;
  height: 48px;
}
.white-black-button.small {
  padding: 9px 15px !important;
  height: 40px;
}
.white-black-button.xs {
  padding: 5px 12px !important;
  height: 32px;
}
.white-black-button.bordered {
  border-color: #000 !important;
}
.white-black-button.bordered.xs {
  padding: 4px 11px !important;
}
.white-black-button.bordered.btn-md {
  padding: 9px 15px !important;
}
.white-black-button.bordered.small {
  padding: 8px 14px !important;
}
.white-black-button:hover {
  border-color: #000;
}
.white-black-button img {
  padding-left: 4px;
  padding-right: 4px;
}

.grey-button {
  text-transform: capitalize;
  white-space: nowrap;
  background-color: #F5F5F3 !important;
  color: #333;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #F5F5F3;
}
.grey-button.btn-md {
  padding: 10px 16px !important;
  height: 48px;
}
.grey-button.small {
  padding: 9px 15px !important;
  height: 40px;
}
.grey-button.xs {
  padding: 5px 12px !important;
  height: 32px;
}
.grey-button.bordered {
  border-color: #333 !important;
}
.grey-button.bordered.xs {
  padding: 4px 11px !important;
}
.grey-button.bordered.btn-md {
  padding: 9px 15px !important;
}
.grey-button.bordered.small {
  padding: 8px 14px !important;
}
.grey-button:hover {
  border-color: #333;
}
.grey-button img {
  padding-left: 4px;
  padding-right: 4px;
}

.green-button {
  text-transform: capitalize;
  white-space: nowrap;
  background-color: #BEFA3C !important;
  color: #333;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #BEFA3C;
}
.green-button.btn-md {
  padding: 10px 16px !important;
  height: 48px;
}
.green-button.small {
  padding: 9px 15px !important;
  height: 40px;
}
.green-button.xs {
  padding: 5px 12px !important;
  height: 32px;
}
.green-button.bordered {
  border-color: #333 !important;
}
.green-button.bordered.xs {
  padding: 4px 11px !important;
}
.green-button.bordered.btn-md {
  padding: 9px 15px !important;
}
.green-button.bordered.small {
  padding: 8px 14px !important;
}
.green-button:hover {
  border-color: #333;
}
.green-button img {
  padding-left: 4px;
  padding-right: 4px;
}

.wallet-btn {
  text-transform: capitalize !important;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.wallet-btn .wallet-btn-title {
  display: inline-flex;
  align-items: center;
}
.wallet-btn .wallet-btn-title img {
  margin-right: 20px;
}

.standard-input, .rounded-input .MuiOutlinedInput-root {
  margin-top: 19px !important;
  margin-bottom: 20px !important;
  background-color: #E5E5E5 !important;
}
.standard-input input::placeholder, .rounded-input .MuiOutlinedInput-root input::placeholder {
  color: #999999 !important;
}
.standard-input input, .rounded-input .MuiOutlinedInput-root input {
  padding: 9px 14px !important;
}
.standard-input fieldset, .rounded-input .MuiOutlinedInput-root fieldset {
  border: none !important;
}
.standard-input.xs input, .rounded-input .xs.MuiOutlinedInput-root input {
  height: 32px;
  padding: 5px 12px !important;
  border-radius: 4px;
}
.standard-input.xs fieldset, .rounded-input .xs.MuiOutlinedInput-root fieldset {
  height: 32px;
  padding: 5px 12px !important;
  border-radius: 4px;
}

.rounded-input .MuiOutlinedInput-root {
  border-radius: 30px !important;
}

.MuiDialog-root {
  background-color: rgba(255, 255, 255, 0.95);
}

.dialog.dialog-xs .MuiDialog-paper {
  max-width: 400px !important;
}
.dialog .MuiDialog-paper {
  min-width: 400px !important;
  border-radius: 10px !important;
  background-color: #fff;
}
.dialog .MuiDialog-paper .dialog-description {
  color: #999999;
}
.dialog .MuiDialog-paper .social-networks .item {
  margin-right: 12px;
}
.dialog .MuiDialog-paper .social-networks .divider {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}
.dialog .MuiDialog-paper .social-networks .chip-link {
  width: 80%;
  height: 32px;
  background-color: #E5E5E5 !important;
  border-radius: 4px !important;
  margin-right: 10px;
}
.dialog .MuiDialog-paper .social-networks .chip-link span {
  color: #999999;
  line-height: 22px;
  overflow-x: scroll;
  text-overflow: unset;
}
.dialog .MuiDialog-paper .social-networks .copy-btn {
  height: 32px;
  width: 85px;
  border-radius: 4px;
  padding: 5px 12px;
}

.artwork-page .dialog-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.artwork-page .divider-menu {
  color: #CCC;
}
.artwork-page .divider {
  color: #666;
}
.artwork-page .MuiDialog-paper {
  height: 90vh;
  min-width: 80vw !important;
}
.artwork-page .artwork-page-navigation {
  background-color: #BEFA3C;
}
.artwork-page .artwork-page-states .MuiTab-root {
  text-transform: capitalize !important;
}
.artwork-page .artwork-about {
  background-color: #000;
  padding: 60px 468px;
}
.artwork-page .artwork-membership {
  margin-top: 56px;
  margin-left: 30px;
  margin-right: 30px;
}
.artwork-page .artwork-tokenomics {
  padding: 30px !important;
}
.artwork-page .artwork-tokenomics th {
  padding-top: 8px;
  padding-bottom: 8px;
}

.dialog-image .MuiDialog-paper {
  min-width: 500px !important;
  min-height: 310px !important;
  border-radius: 10px !important;
  background-color: transparent;
  box-shadow: none;
}

.membership-items {
  margin-top: 23.5px !important;
  justify-content: space-between;
}
.membership-items .membership-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E5E5E5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.membership-items .membership-item {
  background-color: #E5E5E5;
  border-radius: 10px;
  width: 373px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
}
.membership-items .membership-item .item-divider {
  border-color: #000;
}
.membership-items .membership-item .item-title {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mx-m {
  margin-right: -24px;
  margin-left: -24px;
}

.release-title {
  width: 360px;
}

.main-container {
  min-height: 90vh;
  width: 100vw;
}

.header {
  border-bottom-color: #999999 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.header .header-container {
  margin-top: 20px !important;
  margin-left: 20px !important;
  margin-bottom: 30px !important;
}

.header-links .link {
  color: #CCC !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: right;
  padding: 2px;
}
.header-links .link:first-of-type {
  margin-right: 40px;
}
.header-links .link:nth-last-of-type(2) {
  margin-right: 30px;
}
.header-links .link.active {
  padding: 5px 12px;
  border-radius: 4px;
  text-align: center;
  color: #000 !important;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.account {
  justify-content: space-between;
  padding-top: 19px;
}

.account-title {
  width: 133px;
}

.account-address {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 38px;
}
.account-address span {
  padding-left: 19px;
}

.account-options button {
  padding: 5px 12px !important;
  height: 32px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: solid 1px #000;
}

.social-button {
  margin-right: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.page-container {
  margin-right: 204px;
  margin-left: 204px;
  margin-top: 48px;
}

.offering-image {
  padding: 48px;
  background-color: #1E1E19;
}

.image-container {
  width: 100%;
}

.box, .box-silver, .box-green, .box-black-2, .box-grey-1, .box-grey, .box-white, .box-info, .membership-items .membership-item {
  border-radius: 4px;
}
.box.box-p-0 > div, .box-p-0.box-silver > div, .box-p-0.box-green > div, .box-p-0.box-black-2 > div, .box-p-0.box-grey-1 > div, .box-p-0.box-grey > div, .box-p-0.box-white > div, .box-p-0.box-info > div, .membership-items .box-p-0.membership-item > div {
  padding: 0 !important;
}
.box > div, .box-silver > div, .box-green > div, .box-black-2 > div, .box-grey-1 > div, .box-grey > div, .box-white > div, .box-info > div, .membership-items .membership-item > div {
  padding: 12px 16px;
}

.box-info {
  background-color: #E5E5E5 !important;
}
.box-info .box-caption {
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}
.box-info .box-caption img {
  margin-right: 5px;
}

.box-white {
  background-color: #fff !important;
}

.box-grey {
  background-color: #999999 !important;
}

.box-grey-1 {
  background-color: #F5F5F3 !important;
}

.box-black-2 {
  background-color: #1E1E19 !important;
}

.box-green {
  background-color: #BEFA3C !important;
}

.box-silver {
  background-color: #E5E5E5 !important;
}

.percentage-slider {
  height: 20px;
}
.percentage-slider .MuiSlider-thumb {
  display: none;
}
.percentage-slider .MuiSlider-track {
  background-color: #333;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.percentage-slider .MuiSlider-rail {
  background-color: #fff;
}

.readonly-text {
  font-size: 16px;
  font-weight: 500;
  color: #CCC;
}

.tag-grey {
  margin-right: 4px;
  min-width: 60px;
  height: 22px;
  border-radius: 4px;
  padding: 2px 8px;
  color: #CCC;
  border-color: #CCC;
}
.tag-grey:last-of-type {
  margin-right: 0;
}
.tag-grey span {
  line-height: 18px;
}
.tag-grey.active {
  border-color: #000;
  background-color: #000;
}
.tag-grey.active span {
  color: #fff !important;
}

.container {
  max-width: 100vw;
}

.MuiBackdrop-root {
  background-color: transparent !important;
}

.date-duration-format {
  font-size: 20px;
  font-weight: 500;
}

.addon {
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 5px;
  padding-left: 5px;
}

.addon-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 13px;
}

.up-image {
  height: 5px;
  width: 10px;
}

.arrow-grey-down {
  margin-bottom: -16px !important;
  margin-top: -16px !important;
}
.arrow-grey-down.active-180 {
  transform: rotate(180deg);
}

#currency-menu ul {
  min-width: 95px;
  border-radius: 4px;
  padding: 8px 12px;
}
#currency-menu li {
  padding-left: 12px;
  padding-right: 12px;
}
#currency-menu li:first-of-type div {
  opacity: 0.2;
}
#currency-menu li:first-of-type .menu-close {
  opacity: 1;
}

.box-price-offerings > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-collection-page {
  margin-bottom: 64px;
}

.my-collection-container, .membership-tiers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.my-collection-avatar {
  margin-top: -116px;
  margin-bottom: 20px;
  width: 13vw !important;
  height: 13vw !important;
}

.my-collection-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-container {
  margin-top: -72px;
  margin-left: 24px;
  width: 100%;
}

.my-collection-info {
  display: flex;
  justify-content: center;
  background-color: #F5F5F3;
  padding-top: 24px;
  padding-bottom: 24px;
}
.my-collection-info .box, .my-collection-info .membership-items .membership-item, .membership-items .my-collection-info .membership-item, .my-collection-info .box-info, .my-collection-info .box-white, .my-collection-info .box-grey, .my-collection-info .box-grey-1, .my-collection-info .box-black-2, .my-collection-info .box-green, .my-collection-info .box-silver {
  border-radius: 4px;
  width: 360px;
  height: 88px;
  padding: 12px 16px;
}

.my-collection-button {
  border-radius: 4px;
  width: 210px;
  height: 48px;
  margin-right: 24px;
}
.my-collection-button.small {
  width: 126px;
  height: 32px;
}

.membership-tiers .item-info-form {
  position: relative;
  min-height: 750px;
}
.membership-tiers .title {
  margin-top: 41.5px !important;
  margin-bottom: 26.5px !important;
}
.membership-tiers .image-item {
  padding: 48px 24px 0;
}
.membership-tiers .image-item .image-options {
  align-items: center;
  justify-content: center;
  margin-top: 24px !important;
}
.membership-tiers .image-item .image-options button {
  margin-right: 24px;
}
.membership-tiers .item-name {
  padding: 24px 0 20px 24px;
}
.membership-tiers .item-description {
  padding: 24px;
}
.membership-tiers .item-info {
  margin: 24px;
  width: calc(100% - 48px);
  position: absolute;
  bottom: 0;
}
.membership-tiers .item-info .box, .membership-tiers .item-info .membership-items .membership-item, .membership-items .membership-tiers .item-info .membership-item, .membership-tiers .item-info .box-info, .membership-tiers .item-info .box-white, .membership-tiers .item-info .box-grey, .membership-tiers .item-info .box-grey-1, .membership-tiers .item-info .box-black-2, .membership-tiers .item-info .box-green, .membership-tiers .item-info .box-silver {
  border-bottom-color: #A0A09B;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.membership-tiers .my-nfts {
  padding: 24px;
  max-height: 90vh;
  overflow-y: scroll;
}
.membership-tiers .my-nfts.no-nfts {
  overflow-y: hidden;
}
.membership-tiers .my-nfts.no-nfts .become-a-member {
  width: 350px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 213px;
  align-items: center;
}
.membership-tiers .my-nfts.no-nfts .become-a-member > {
  background-color: #000;
}
.membership-tiers .my-nfts.no-nfts .my-collection-items {
  opacity: 0.2;
}
.membership-tiers .my-nfts.no-nfts .my-collection-items, .membership-tiers .my-nfts.no-nfts .my-collection-items * {
  pointer-events: none;
}
.membership-tiers .my-nfts .image-item {
  padding: 16px 16px 0;
  margin-bottom: 24px !important;
}
.membership-tiers .my-nfts .image-gr-bg {
  background: #F5F5F3;
  padding-bottom: 16px;
  padding-top: 42px;
}
.membership-tiers .my-nfts .item-options {
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.membership-tiers .my-nfts .item-options .item-title {
  flex-direction: row;
  align-items: center;
}
.membership-tiers .my-nfts .item-options .item-title img {
  margin-right: 6px;
}
.membership-tiers .my-nfts .items-top-form .MuiImageListItemBar-titleWrap {
  margin: 0 !important;
  padding: 0 !important;
}
.membership-tiers .my-nfts .my-collection-items {
  margin: 0 !important;
  padding: 0 !important;
}
.membership-tiers.zero-state .zero-state-content {
  margin-top: 174px;
  margin-bottom: 304px;
  padding: 55px 30px 30px;
  width: 360px;
}
.membership-tiers.zero-state .zero-state-content .title {
  width: 270px;
}
.membership-tiers.zero-state .zero-state-content button {
  margin-top: 40px;
}

.opened-item {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.opened-item .title {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
}
.opened-item .title .item-title {
  display: inline-flex;
  align-items: center;
}
.opened-item .title .item-title img {
  margin-right: 10px;
}
.opened-item .title .item-title span {
  padding-bottom: 2px;
  padding-top: 2px;
}
.opened-item .title .right {
  padding-bottom: 2px;
}
.opened-item .title .right .close-btn, .opened-item .title .right .close-btn * {
  color: #fff !important;
}
.opened-item .title .right .share-btn {
  height: 40px;
  padding: 9px 15px 9px 15px;
}
.opened-item .divider {
  border-color: #999999 !important;
}
.opened-item .avatar-container {
  padding-top: 170px;
  padding-bottom: 32px;
}
.opened-item .avatar-container .avatar {
  border-color: #BEFA3C !important;
  border-style: solid !important;
  border-width: 8px !important;
}
.opened-item .action-btn {
  padding: 9px 44px !important;
  margin-left: 30px;
  line-height: 22px;
}
.opened-item .action-btn.release {
  padding-left: 27px;
  padding-right: 27px;
  margin-left: 5px;
}

.membership-feature {
  padding-left: 40px;
}

.opened-actions {
  padding-right: 24px;
}

.membership-content p::before {
  background-image: url("/images/grey-point.svg");
  background-size: 8px 8px;
  display: inline-block;
  width: 8px;
  height: 8px;
  content: "";
  margin-right: 2px;
}

.account-connect {
  height: 70vh;
}

.how-it-works-bg .title {
  background-color: transparent;
}
.how-it-works-bg .title .MuiImageListItemBar-titleWrap {
  display: flex;
  justify-content: center;
}
.how-it-works-bg .title .MuiImageListItemBar-title {
  line-height: 55px;
  margin-top: 197.5px !important;
}

.how-it-works {
  display: inline-flex;
  margin-top: 56px !important;
  margin-left: 190px !important;
  margin-right: 450px;
}

.how-it-works-menu {
  position: sticky;
  top: 56px;
  width: 360px;
  height: 200px;
}
.how-it-works-menu hr {
  margin-top: 11px !important;
  margin-bottom: 11px !important;
}
.how-it-works-menu .page-states {
  margin-top: 9px !important;
  margin-bottom: 0 !important;
  padding: 9px 0 !important;
}
.how-it-works-menu .page-states:not(.how-it-works-menu .page-states:last-of-type) {
  border-bottom: #A0A09B solid 1px;
}
.how-it-works-menu .page-states a {
  color: inherit;
  text-decoration: none;
}
.how-it-works-content {
  margin-left: 76px;
  width: 1020px;
}
.how-it-works-content .section-divider {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  border-color: #E5E5E5;
}
.how-it-works-content #introduction {
  flex-direction: column;
}
.how-it-works-content #introduction .text {
  width: 760px;
  margin-bottom: 60px;
}
.how-it-works-content #introduction .image {
  width: 100%;
  height: 40vh;
  background-color: #999999;
}
.how-it-works-content #the-process .text {
  width: 45vw;
}
.how-it-works-content #the-process .image {
  width: 20vw;
  height: 40vh;
  background-color: #999999;
  margin-right: 150px;
}
.how-it-works-content #the-terminology .text {
  width: 60vw;
}
.how-it-works-content #what-makes-us-different .text {
  width: 45vw;
}
.how-it-works-content #membership-tiers .membership-items {
  margin-bottom: 50px;
}
.how-it-works-content #membership-tiers .membership-items .membership-item {
  width: 286px;
}
.how-it-works-content #membership-tiers .membership-items .item-description {
  margin-top: 30px;
}
.how-it-works-content #membership-tiers .image {
  width: 100%;
  height: 40vh;
  background-color: #999999;
}

.quote {
  width: 58vw;
  margin-left: 543px;
}

.show-m {
  display: none;
}

@media only screen and (max-width: 450px) {
  .hide-m {
    display: none !important;
  }
  .show-m {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .show-m button {
    width: 90% !important;
  }
  button, p, a, span, div {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  * {
    box-sizing: border-box !important;
    max-width: 100vw !important;
    margin: 0 !important;
    font-size: 24px;
  }
  p {
    width: 90%;
  }
  .image-12x12 {
    height: 22px;
    width: 22px;
  }
  .image-14x14 {
    height: 24px;
    width: 24px;
  }
  .image-18x18 {
    height: 28px;
    width: 28px;
  }
  .font-13 {
    font-size: 23px;
  }
  .font-16, .dialog .MuiDialog-paper .dialog-description, .dialog .MuiDialog-paper .social-networks .chip-link span {
    font-size: 24px;
  }
  .font-45 {
    font-size: 35px !important;
  }
  .float-right {
    float: unset !important;
  }
  .footer a, .footer p {
    margin: 0 !important;
    font-size: 12px;
  }
  .footer .MuiGrid-item {
    padding: 0 !important;
  }
  .footer-right-container .social-button {
    margin-right: 10px !important;
  }
  .footer-right-container .items {
    display: flex;
    align-items: center;
    margin: 0 !important;
  }
  .header-container {
    display: inline;
  }
  .header-container .main-menu {
    padding: 15px 24px !important;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header-container .m-menu {
    flex-direction: row;
  }
  .header-container .m-menu button span {
    font-size: 16px;
  }
  .header-container div {
    padding: 0 !important;
    margin: 0 !important;
  }
  .menu-m-options {
    left: 0 !important;
    width: 100vw;
    position: fixed;
  }
  .d-flex, .membership-items, .account, .membership-tiers .image-item .image-options, .membership-tiers .my-nfts .item-options, .membership-tiers .my-nfts .item-options .item-title, .membership-tiers.zero-state .zero-state-content, .how-it-works-content #introduction, .how-it-works-content #the-process, .how-it-works-content #the-terminology, .how-it-works-content #what-makes-us-different, .MuiBox-root {
    min-width: 90vw;
  }
  .box, .membership-items .membership-item, .box-info, .box-white, .box-grey, .box-grey-1, .box-black-2, .box-green, .box-silver {
    border-radius: 0 !important;
  }
  .my-collection-info {
    flex-direction: column;
  }
  .account-connect {
    height: 90vh;
  }
  .my-collection-container, .membership-tiers {
    display: block;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .my-collection-container .item-options, .membership-tiers .item-options {
    margin-top: -30px !important;
  }
  .my-collection-container .item-options .image-12x12, .membership-tiers .item-options .image-12x12 {
    margin-right: 10px !important;
  }
  .my-collection-container .item-options .float-right, .membership-tiers .item-options .float-right {
    display: none;
  }
  .my-collection-container .my-collection-avatar, .membership-tiers .my-collection-avatar {
    width: 90% !important;
    height: 33vh !important;
  }
  .my-collection-container .item-info, .membership-tiers .item-info {
    position: unset;
  }
  .my-collection-container .my-collection-options, .membership-tiers .my-collection-options {
    flex-direction: column;
    margin-top: 10px !important;
    display: block;
  }
  .my-collection-container .my-collection-options button, .membership-tiers .my-collection-options button {
    min-width: 100%;
    min-height: 10vh;
    display: block;
  }
  .my-collection-container .my-collection-options button .image-container, .membership-tiers .my-collection-options button .image-container {
    width: auto;
  }
  .opened-item .image-20x20, .image-item .image-20x20 {
    margin-right: 10px !important;
  }
  .opened-item button, .image-item button {
    display: block;
  }
  .opened-item .MuiGrid-root, .image-item .MuiGrid-root {
    flex-direction: column;
  }
  .opened-item .MuiGrid-root button, .image-item .MuiGrid-root button {
    width: 80% !important;
  }
  .opened-item .avatar-container .avatar, .image-item .avatar-container .avatar {
    width: 90% !important;
  }
  .opened-item .right, .image-item .right {
    float: unset !important;
  }
  .image-item .image-options {
    flex-direction: column;
  }
  .image-item .image-options button {
    width: 50% !important;
  }
  .how-it-works-bg .image-item {
    overflow-y: hidden;
  }
  .how-it-works-bg .title .MuiImageListItemBar-title {
    margin-top: 0 !important;
  }
  .how-it-works {
    margin: 0 !important;
  }
  .how-it-works .how-it-works-menu {
    display: none !important;
  }
  .how-it-works div[id] {
    margin-left: 24px !important;
    margin-right: 24px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .how-it-works div[id] .image {
    width: 100% !important;
  }
  .how-it-works div[id] .font-13 {
    font-size: 12px;
  }
  .how-it-works .text {
    width: 90% !important;
  }
  .how-it-works .membership-items {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .how-it-works .membership-items .membership-item {
    width: 100% !important;
  }
  .our-offerings .float-right {
    float: right !important;
  }
  .our-offerings .offering-container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .our-offerings .font-16, .our-offerings .dialog .MuiDialog-paper .dialog-description, .dialog .MuiDialog-paper .our-offerings .dialog-description, .our-offerings .dialog .MuiDialog-paper .social-networks .chip-link span, .dialog .MuiDialog-paper .social-networks .chip-link .our-offerings span {
    font-size: 16px;
  }
  .our-offerings .font-28 {
    font-size: 28px;
  }
  .our-offerings .xs {
    min-width: auto !important;
    width: 100% !important;
  }
  .our-offerings .MuiGrid-item {
    padding: 0 !important;
    margin: 0 !important;
  }
  .our-offerings .box, .our-offerings .membership-items .membership-item, .membership-items .our-offerings .membership-item, .our-offerings .box-info, .our-offerings .box-white, .our-offerings .box-grey, .our-offerings .box-grey-1, .our-offerings .box-black-2, .our-offerings .box-green, .our-offerings .box-silver {
    border-bottom: 1px solid;
  }
  .our-offerings .box.token-price, .our-offerings .membership-items .token-price.membership-item, .membership-items .our-offerings .token-price.membership-item, .our-offerings .token-price.box-info, .our-offerings .token-price.box-white, .our-offerings .token-price.box-grey, .our-offerings .token-price.box-grey-1, .our-offerings .token-price.box-black-2, .our-offerings .token-price.box-green, .our-offerings .token-price.box-silver {
    border-bottom: none;
  }
  .our-offerings .box div, .our-offerings .membership-items .membership-item div, .membership-items .our-offerings .membership-item div, .our-offerings .box-info div, .our-offerings .box-white div, .our-offerings .box-grey div, .our-offerings .box-grey-1 div, .our-offerings .box-black-2 div, .our-offerings .box-green div, .our-offerings .box-silver div {
    margin: 0 !important;
  }
  .artwork-page-navigation div {
    margin: 0 !important;
  }
  .dialog-image .d-flex, .dialog-image .membership-items, .dialog-image .account, .dialog-image .membership-tiers .image-item .image-options, .membership-tiers .image-item .dialog-image .image-options, .dialog-image .membership-tiers .my-nfts .item-options, .membership-tiers .my-nfts .dialog-image .item-options, .dialog-image .membership-tiers .my-nfts .item-options .item-title, .membership-tiers .my-nfts .item-options .dialog-image .item-title, .dialog-image .membership-tiers.zero-state .zero-state-content, .membership-tiers.zero-state .dialog-image .zero-state-content, .dialog-image .how-it-works-content #introduction, .how-it-works-content .dialog-image #introduction, .dialog-image .how-it-works-content #the-process, .how-it-works-content .dialog-image #the-process, .dialog-image .how-it-works-content #the-terminology, .how-it-works-content .dialog-image #the-terminology, .dialog-image .how-it-works-content #what-makes-us-different, .how-it-works-content .dialog-image #what-makes-us-different, .dialog-image .MuiGrid-root, .dialog .d-flex, .dialog .membership-items, .dialog .account, .dialog .membership-tiers .image-item .image-options, .membership-tiers .image-item .dialog .image-options, .dialog .membership-tiers .my-nfts .item-options, .membership-tiers .my-nfts .dialog .item-options, .dialog .membership-tiers .my-nfts .item-options .item-title, .membership-tiers .my-nfts .item-options .dialog .item-title, .dialog .membership-tiers.zero-state .zero-state-content, .membership-tiers.zero-state .dialog .zero-state-content, .dialog .how-it-works-content #introduction, .how-it-works-content .dialog #introduction, .dialog .how-it-works-content #the-process, .how-it-works-content .dialog #the-process, .dialog .how-it-works-content #the-terminology, .how-it-works-content .dialog #the-terminology, .dialog .how-it-works-content #what-makes-us-different, .how-it-works-content .dialog #what-makes-us-different, .dialog .MuiGrid-root {
    min-width: unset !important;
  }
  .dialog-image button.item .image-50x50, .dialog button.item .image-50x50 {
    height: 40px;
    width: 40px;
  }
  .dialog-image .chip-link, .dialog-image .copy-btn, .dialog .chip-link, .dialog .copy-btn {
    display: block;
    padding: 4px !important;
    width: 100% !important;
  }
  .dialog-image .chip-link span, .dialog-image .copy-btn span, .dialog .chip-link span, .dialog .copy-btn span {
    display: flex;
    padding-bottom: 10px !important;
  }
  .dialog-image .MuiDialog-paper, .dialog .MuiDialog-paper {
    min-width: unset !important;
    max-width: 90vw !important;
    max-height: 100vh;
  }
  .dialog-image .font-13, .dialog .font-13 {
    font-size: 13px;
  }
  .dialog-image .font-16, .dialog .font-16, .dialog .MuiDialog-paper .dialog-description, .dialog .MuiDialog-paper .social-networks .chip-link span {
    font-size: 16px;
  }
  .dialog-image button, .dialog button {
    font-size: 16px;
  }
  .dialog-image .artwork-about, .dialog-image .artwork-membership, .dialog-image .artwork-tokenomics, .dialog .artwork-about, .dialog .artwork-membership, .dialog .artwork-tokenomics {
    padding: 0 !important;
  }
  .dialog-image .artwork-about *, .dialog-image .artwork-membership *, .dialog-image .artwork-tokenomics *, .dialog .artwork-about *, .dialog .artwork-membership *, .dialog .artwork-tokenomics * {
    border-radius: 0 !important;
  }
  .dialog-image .artwork-about .membership-items, .dialog-image .artwork-membership .membership-items, .dialog-image .artwork-tokenomics .membership-items, .dialog .artwork-about .membership-items, .dialog .artwork-membership .membership-items, .dialog .artwork-tokenomics .membership-items {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .dialog-image .artwork-about .membership-items .membership-item-container, .dialog-image .artwork-membership .membership-items .membership-item-container, .dialog-image .artwork-tokenomics .membership-items .membership-item-container, .dialog .artwork-about .membership-items .membership-item-container, .dialog .artwork-membership .membership-items .membership-item-container, .dialog .artwork-tokenomics .membership-items .membership-item-container {
    width: 90%;
  }
  .dialog-image .artwork-about .membership-items .membership-item, .dialog-image .artwork-membership .membership-items .membership-item, .dialog-image .artwork-tokenomics .membership-items .membership-item, .dialog .artwork-about .membership-items .membership-item, .dialog .artwork-membership .membership-items .membership-item, .dialog .artwork-tokenomics .membership-items .membership-item {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
